<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>All Courses</h1>

<div style="margin-bottom: 20px;">
      <a href="/" style="margin-right: 10px;">Home</a>
    </div>
    
<ul>
  {{#courses}}
  <li>
    <a href="/course/{{_id}}">{{name}}</a> - {{duration}} - £{{price}}
    <br><strong>Start Date:</strong> {{startDate}}
  </li>

  {{/courses}}
  {{^courses}}
  <li>No courses available.</li>
  {{/courses}}
</ul>
</body>
</html>
