<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Welcome to Our Organisation</h1>
  <p><a href="/courses">View Courses</a></p>
  <p><a href="/organiser/login">Organiser Login</a></p>

  <p> The purpose of this website is to create a website for a local organisation that wishes to runs courses of dance classes for users of different levels of fitness and ability. 
  These courses vary in length and in number of classes. For example, a course might consist of a weekend workshops with five sessions over two days or alternatively could consist of 
  block of twelve weekly sessions. This organisation typically has around five sets of weekly classes running at any given time and organises weekend workshops once or twice a year. 
  It wishes to develop a booking system for their courses and classes. </p> 
  
</body>
</html>